/**
 * MIXINS: PROPERTIES
 */

@mixin clear($method: '') {
  @if $method == overflow {
    &:after {
      overflow: hidden;
      @include has-layout;
    }
  }

  @else {
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }
}

@mixin header($style: '') {
  @if $style == white {
    div.logo {
      * {
        color: $color-white;
        fill: $color-white;
      }
    }

    nav#navigation-main {
      &:not(.active) {
        * {
          color: $color-white;
          fill: $color-white;
        }
      }
    }
  }

  nav#navigation-mobile {
    ul {
      li.item-navigation-main {
        a {
          span {
            background: $color-white;
          }

          &.triggered {
            span {
              background: $color-black;
            }
          }
        }
      }
    }
  }
}


@mixin icon($method,$icon,$font-size,$margin,$space-bottom: 0) {
  @if $method == before {
    &:before {
      bottom: $space-bottom;
      content: $icon;
      display: inline-block;
      font-family: "Fontello";
      font-size: $font-size;
      font-style: normal;
      line-height: 100%;
      margin-right: $margin;
      position: relative;
    }
  }

  @else if $method == after {
    &:after {
      bottom: $space-bottom;
      content: $icon;
      display: inline-block;
      font-family: "Fontello";
      font-size: $font-size;
      font-style: normal;
      line-height: 100%;
      margin-left: $margin;
      position: relative;
    }
  }
}


@mixin last-child($border-top: '',$border-right: '',$border-bottom: '',$border-left: '',$margin-top: '',$margin-right: '',$margin-bottom: '',$margin-left: '',$padding-top: '',$padding-right: '',$padding-bottom: '',$padding-left: '') {
  &:last-child,&:last-of-type {
    @if $border-top == true {
      border-top: 0 none;
    }

    @if $border-right == true {
      border-right: 0 none;
    }

    @if $border-bottom == true {
      border-bottom: 0 none;
    }

    @if $border-left == true {
      border-left: 0 none;
    }

    @if $margin-top == true {
      margin-top: 0;
    }

    @if $margin-right == true {
      margin-right: 0;
    }

    @if $margin-bottom == true {
      margin-bottom: 0;
    }

    @if $margin-left == true {
      margin-left: 0;
    }

    @if $padding-top == true {
      padding-top: 0;
    }

    @if $padding-right == true {
      padding-right: 0;
    }

    @if $padding-bottom == true {
      padding-bottom: 0;
    }

    @if $padding-left == true {
      padding-left: 0;
    }
  }
}

@mixin wrapper($max-width: '',$width: '',$width-mobile: '') {
  margin-left: auto;
  margin-right: auto;
  max-width: $max-width;
  width: $width;

  @media screen and (max-width: $break-width-8) {
    width: $width-mobile;
  }
}