<header id="header-main">
    <div class="logo">
        <a href="{{ site.baseurl }}/" title="{{ site.title }}">{% include svg/img-icon-logo.svg %}</a>
    </div>

    <nav id="navigation-main">
        <div class="wrapper">
            <ul class="list-pages">
                <li>
                    <a href="{{ site.baseurl }}/">About</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/projects/">Projects</a>
                </li>
                <li>
                    <a href="mailto:info@benjaminroth.co">Contact</a>
                </li>
            </ul>

            <ul class="list-social-links">
                <li>
                    <a href="{{ site.dribbble }}" class="icon-dribbble" target="_blank"><span>Dribbble</span></a>
                </li>
                <li>
                    <a href="{{ site.twitter }}" class="icon-twitter" target="_blank"><span>Twitter</span></a>
                </li>
                <li>
                    <a href="{{ site.instagram }}" class="icon-instagram" target="_blank"><span>Instagram</span></a>
                </li>
            </ul>

            <div class="item-dribbble-radar {{include.navclass}}">
                <a href="#" class="trigger-dribbble" title="Show dribbble stream">
                    <strong>{% include svg/img-icon-dribbble.svg %}</strong>
                    <em>{% include svg/img-icon-dribbble-mobile.svg %}</em>
                    <sup class="circle">
                        <span>
                            <sub></sub>
                        </span>
                    </sup>
                </a>
            </div>
        </div>
    </nav>

    <nav id="navigation-mobile">
        <ul>
            <li class="item-navigation-main">
                <a href="#" class="trigger-navigation-main">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </li>
        </ul>
    </nav>

    <nav id="navigation-fast">

        {% if page.layout == 'project-detail' %}
            <a href="/projects" class="trigger-home">
                <span></span>
                <span></span>
            </a>

        {% elsif page.layout == 'home' %}

        {% else %}

            <a href="/" class="trigger-home">
                <span></span>
                <span></span>
            </a>

        {% endif %}

        <a href="#" class="trigger-navigation-main">
            <span></span>
            <span></span>
            <span></span>
        </a>
    </nav>

    <section id="layer-dribbble">
        <div class="header">
            <h4>
                Latest updates
            </h4>
            <nav>
                <a href="#" class="trigger-dribbble-close">
                    <span></span>
                    <span></span>
                </a>
            </nav>
        </div>

        <ul class="list-shots"></ul>
    </section>

</header>