<header id="header-main">
    <div class="logo">
        <h1>
            <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
        </h1>
    </div>

    <nav id="navigation-main">
        <ul class="list_pages">
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">About Me</a>
            </li>
        </ul>

        <ul class="list_social-links">
            <li>
                <a href="#" class="icon-dribbble"><span>Dribbble</span></a>
            </li>
            <li>
                <a href="#" class="icon-twitter"><span>Twitter</span></a>
            </li>
            <li>
                <a href="#" class="icon-instagram"><span>Instagram</span></a>
            </li>
        </ul>

        <div class="item_dribbble-radar {{include.navclass}}">
            <a href="">
                {% include svg/img_icon-dribbble.svg navclass='top' %}
                {% include svg/img_icon-dribbble-mobile.svg %}
                <span></span>
            </a>
        </div>
    </nav>

    <nav id="navigation-mobile">
        <ul>
            <li class="item_navigation-main">
                <a href="#" class="trigger_navigation-main">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </li>
        </ul>
    </nav>
</header>