/**
 * POST: IHK-DE
 */

body.project-ihk-de {
  div.content-devices {
    background-image: url(/images/projects/ihk-de/ihk-de-devices-bg.jpg);
    background-position: 50% 0;
    background-repeat: no-repeat;
    height: 1000px;
    margin-bottom: 3.000em;
  }

  @media screen and (max-width: $break-width-2) {
    div.content-devices {
      background-image: url(/images/projects/ihk-de/ihk-de-devices-medium-bg.jpg);
      height: 800px;
    }
  }

  @media screen and (max-width: $break-width-3) {
    div.content-devices {
      background-image: url(/images/projects/ihk-de/ihk-de-devices-small-bg.jpg);
      height: 600px;
    }
  }

  @media screen and (max-width: $break-width-8) {
    div.content-devices {
      background-image: url(/images/projects/ihk-de/ihk-de-devices-xsmall-bg.jpg);
      height: 350px;
      margin-bottom: 0;
    }
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: $break-width-8) {
    div.content-devices {
      background-position: 50% 0;
      background-image: url(/images/projects/ihk-de/ihk-de-devices-medium-bg.jpg);
      @include background-size(cover);

      &:before {
        padding-top: 70%;
      }
    }
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: $break-width-8) {
    div.content-devices {
      background-image: url(/images/projects/ihk-de/ihk-de-devices-bg@2x.jpg);
      height: auto;
      @include background-size(cover);

      &:before {
        content: "";
        display: block;
        padding-top: 50%;
        width: 100%;
      }
    }
  }
}