/**
 * POST: CARNIVAL
 */

body.project-carnival {
  div.content-smartphones {
    background-image: url(/images/projects/carnival/carnival-smartphones-bg.jpg);
    background-repeat: no-repeat;
    height: 3400px;
  }

  @media screen and (max-width: $break-width-1) {
    div.content-smartphones {
      background-image: url(/images/projects/carnival/carnival-smartphones-medium-bg.jpg);
      height: 2550px;
    }
  }

  @media screen and (max-width: $break-width-3) {
    div.content-smartphones {
      background-image: url(/images/projects/carnival/carnival-smartphones-small-bg.jpg);
      height: 1800px;
    }
  }

  @media screen and (max-width: $break-width-8) {
    div.content-smartphones {
      background-image: url(/images/projects/carnival/carnival-smartphones-xsmall-bg.jpg);
      height: 1200px;
      @include background-size(cover);
    }
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: $break-width-8) {
    div.content-smartphones {
      background-image: url(/images/projects/carnival/carnival-smartphones-medium-bg.jpg);
    }
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: $break-width-8) {
    div.content-smartphones {
      background-image: url(/images/projects/carnival/carnival-smartphones-bg@2x.jpg);
      @include background-size(cover);
    }
  }
}