/**
 * UI: ARTICLE
 */

article.article-project {
  header.header-article {
    padding: 12.000em 0 8.000em 0;

    > div.wrapper {
      position: relative;
      @include wrapper($max-width-2,$width-1,$width-base);
    }

    div.info {
      max-width: $max-width-4;

      h1 {
        font-size: 2.200em;
        font-weight: 600;
        line-height: 115%;
        margin-bottom: 0.227em;
      }

      p {
        font-size: 1.200em;
        line-height: 145%;
        margin-bottom: 1.000em;

        &.text-additional {
          color: $color-grey-4;
          font-style: italic;
          margin-bottom: 1.500em;
          position: relative;
        }
      }

      ul {
        li {
          display: inline-block;
          font-size: 1.200em;
          margin-bottom: 0.500em;
          opacity: 0.65;

          &:after {
            content: "/";
            display: inline-block;
            margin: 0 0.083em 0 0.333em;
            opacity: 0.3;
          }

          &:last-child {
            &:after {
              display: none;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: $break-width-1) {
    header.header-article {
      padding: 11.000em 0 6.000em 0;
    }
  }


  @media screen and (max-width: $break-width-8) {
    header.header-article {
      padding: 5.000em 0 2.000em 0;

      div.info {
        h1 {
          font-size: 1.500em;
          font-weight: 700;
        }

        p {
          font-size: 1.000em;
        }

        ul {
          li {
            font-size: 1.000em;
          }
        }
      }
    }
  }

  div.content-article-project {
    padding: 2.000em 0;

    h4 {
      font-size: 1.500em;
      font-weight: 600;
      margin-bottom: 0.200em;
      @include wrapper($max-width-4,$width-base);
    }

    h5 {
      font-size: 1.200em;
      font-weight: 600;
      margin-bottom: 0.250em;
      @include wrapper($max-width-4,$width-base);
    }

    p {
      font-size: 1.200em;
      line-height: 160%;
      margin-bottom: 1.250em;
      @include wrapper($max-width-4,$width-base);

      a {
        @include link-text($color-gold-1,$color-gold-1-8,none,none);
      }
    }

    img {
      display: block;
      padding: 2.000em 0 2.000em 0;
      @include transition(opacity 1s ease);

      &.center {
        margin: 0 auto;
      }

      &.space {
        @include wrapper($max-width-1,$width-base);
      }
    }

    div.videos {
      @include wrapper($max-width-1,$width-base);

      &.mobile {
        display: block;
        justify-content: space-around;
        text-align: center;

        div.video {
          display: inline-block;
          margin: 4.000em 3.000em;
          position: relative;
        }
      }

      div.video {
        margin: 4.000em 0;

        &.full {
          video {
            width: 100%;
          }
        }

        &.iphone-7 {
          background: url(/images/video/video-iphone-white-bg.png) 0 0 no-repeat;
          background-size: cover;
          height: 44.900em;
          width: 22.450em;
          @include retina-2x('/images/video/video-iphone-white-bg.png',22.450em,44.900em);

          video {
            height: 33.350em;
            margin-top: 5.800em;
            width: 18.750em;
          }
        }
      }
    }
  }

  nav.navigation-pager {
    border-top: solid 1px $color-grey-9;
    padding: 2.000em 0 1.000em 0;
    text-align: center;

    > div.wrapper {
      @include wrapper($max-width-4,$width-base);
    }

    div {
      display: inline-block;
    }

    p {
      display: inline-block;
      font-size: 1.200em;
      margin-bottom: 1.000em;
      white-space: nowrap;

      a {
        @include link-text($color-grey-5,$color-grey-6,none,none);
      }
    }

    h4 {
      font-size: 1.500em;
      line-height: 120%;

      a {
        @include link-text($color-gold-1,$color-gold-1-8,none,none);
      }
    }
  }

  @media screen and (max-width: $break-width-1) {
    div.content-article-project {
      div.videos {
        font-size: 0.800em;
      }
    }
  }

  @media screen and (max-width: $break-width-1) {
    div.content-article-project {
      div.videos {
        font-size: 0.700em;
      }
    }
  }

  @media screen and (max-width: $break-width-8) {
    div.content-article-project {
      padding: 1.500em 0;

      h4 {
        font-size: 1.200em;
      }

      p {
        font-size: 1.000em;
      }

      img {
        padding: 1.000em 0;
      }

      div.videos {
        font-size: 0.300em;
      }
    }
  }
}