/**
 * UI: DEFAULT
 */

* {
  @include box-sizing(border-box);
}

body {
  background: $color-black;
  font-size: 1.250em;
  font-family: "jaf-facitweb";
  -webkit-font-smoothing: antialiased;
}

a {
  @include transition(color 0.3s ease,background-color 0.3s ease);
}
