/**
 * VARIABLES: COLORS
 */

$color-black: #111;

$color-gold-1: #836e4e;
$color-gold-1-8: mix(white, $color-gold-1, 20%);
$color-gold-1-5: mix(white, $color-gold-1, 50%);

$color-green-1: #09aa7f;

$color-grey-1: mix(white, $color-black, 10%);
$color-grey-1-1: mix(white, $color-black, 11%);
$color-grey-2: mix(white, $color-black, 20%);
$color-grey-3: mix(white, $color-black, 30%);
$color-grey-4: mix(white, $color-black, 40%);
$color-grey-5: mix(white, $color-black, 50%);
$color-grey-6: mix(white, $color-black, 60%);
$color-grey-7: mix(white, $color-black, 70%);
$color-grey-8: mix(white, $color-black, 80%);
$color-grey-9: mix(white, $color-black, 90%);

$color-purple-1: #575fc8;

$color-white: #fff;