/**
 * VARIABLES: COLORS
 */

$black: #000;

$green-1: #34d1a7;

$grey-1: mix(white, $black, 10%);
$grey-2: mix(white, $black, 20%);
$grey-3: mix(white, $black, 30%);
$grey-4: mix(white, $black, 40%);
$grey-5: mix(white, $black, 50%);
$grey-6: mix(white, $black, 60%);
$grey-7: mix(white, $black, 70%);
$grey-8: mix(white, $black, 80%);
$grey-9: mix(white, $black, 90%);

$white: #fff;