/**
 * VARIABLES: VIEWPORTS: WIDTH
 */

$break-width-1: 1920px;
$break-width-2: 1600px;
$break-width-3: 1300px;
$break-width-4: 1024px;
$break-width-5: 1023px;
$break-width-6: 768px;
$break-width-7: 767px;
$break-width-8: 600px;
$break-width-9: 400px;


/**
 * VARIABLES: VIEWPORTS: HEIGHT
 */

$break-height-1: 1200px;
$break-height-2: 900px;