/**
 * VARIABLES: VIEWPORTS: WIDTH
 */

$break-width-1: 1600px;
$break-width-2: 1200px;
$break-width-3: 1024px;
$break-width-4: 1023px;
$break-width-5: 768px;
$break-width-6: 767px;
$break-width-7: 600px;


/**
 * VARIABLES: VIEWPORTS: HEIGHT
 */

$break-height-1: 1200px;
$break-height-2: 900px;
