<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <section id="main">
      <div id="content-home">
        <figure>
          <figcaption>
            <div class="wrapper">
              <h1>
                Benjamin Roth.
              </h1>
              <p>
                is an interaction designer and frontend developer based in Munich. You can catch him on <a href="https://dribbble.com/BenjaminRoth" target="_blank" title="My shots on Dribbble">Dribbble</a>, <a href="https://twitter.com/BennyRoth" target="_blank" title="Follow me on Twitter">Twitter</a>, <a href="https://www.instagram.com/bennyroth/" target="_blank" title="Follow me on Instagram">Instagram</a>.
              </p>

              <p>
                If you are interested in his latest work you can have a detailed look into his current portolio.
              </p>

              <p>
                Get in touch
              </p>

              <div class="field_button">
                <a href="mailto:benjamin.roth18@gmail.com" title="Get in touch">benjamin.roth18@gmail.com</a>
              </div>
            </div>
          </figcaption>
        </figure>
      </div>
    </section>

    {% include footer.html %}

  </body>

</html>
