<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="{% if page.class %}{{ page.class }}{% endif %}">

    {% include header.html %}

    <main>
      <article class="article-project">
        <header class="header-article">
          <div class="wrapper">
            <div class="info">
              <h1>
                {% if page.title-long %}

                  {{ page.title-long }}

                {% else %}

                  {{ page.title }}

                {% endif %}
              </h1>
              <p>
                {{ page.description-long }}
              </p>

              {% if page.description-long-additional %}

                <p class="text-additional">
                  {{ page.description-long-additional }}
                </p>

              {% endif %}

              <ul>
                {% for tags in page.tags %}
                <li>{{ tags }}</li>
                {% endfor %}
              </ul>

              {% if page.image-header-1 %} <img src="{{ page.image-header-1 }}" srcset="{{ page.image-header-1 }} 1x, {{ page.image-header-1-2x }} 2x" alt="{{ page.title-long }}"> {% endif %}
              {% if page.image-header-2 %} <img src="{{ page.image-header-2 }}" srcset="{{ page.image-header-2 }} 1x, {{ page.image-header-2-2x }} 2x" alt="{{ page.title-long }}"> {% endif %}
              {% if page.image-header-3 %} <img src="{{ page.image-header-3 }}" srcset="{{ page.image-header-3 }} 1x, {{ page.image-header-3-2x }} 2x" alt="{{ page.title-long }}"> {% endif %}

            </div>
          </div>
        </header>

        {{ content }}

        <nav class="navigation-pager">
          <div class="wrapper">
            {% if page.next.url %}
                <p>
                  <a href="{{page.next.url}}">Next</a>
                </p>

                <h4>
                  <a href="{{page.next.url}}">{{page.next.title}}</a>
                </h4>

            {% else %}

              <p>
                <a href="{{page.next.url}}">The end</a>
              </p>

              <h4>
                <a href="/projects/">All projects</a>
              </h4>

            {% endif %}
          </div>
        </nav>
      </article>
    </main>

    {% include footer.html %}

  </body>

</html>