.icon-right-open-big:before {
    content: '\e800';
} /* '' */
.icon-left-open-big:before {
    content: '\e801';
} /* '' */
.icon-up-open-big:before {
    content: '\e802';
} /* '' */
.icon-down-open-big:before {
    content: '\e803';
} /* '' */
.icon-download:before {
    content: '\e804';
} /* '' */
.icon-github-circled:before {
    content: '\f09b';
} /* '' */
